.text-color li a {
    color: #000000;
    opacity: 60%;
    margin: 0 50px;
   
}

/* @media screen and (min-width: 480px) {
    .image-responsive{
        display: block;
        justify-content: center;
    }  
    .text-color li a {
        color: #000000;
        opacity: 60%;
        margin: 0 50px;
     }
} */